* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono";
    font-size: 11px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #FFFFFF;
}

button {
    box-shadow: none;
    background: none;
    border: none;
    border-radius: 1;
}

#wireplumber,
#battery,
#mode {
    padding: 0 10px;
    margin: 5px 5px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#window {
    margin: 0 4px;
}

#tags {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#tags button {
    color: #FFFFFF;
    padding: 2px;
    margin: 2px;
}

#tags button.occupied {
    padding: 2px;
    margin: 2px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#tags button.focused {
    background-color: #FFFFFF;
    color: #000000;
}

#tags button.urgent {
    padding: 2px;
    margin: 2px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #FF0000;
}
