@import url("./colors.css");

* {
    border: none;
    border-radius: 1px;
    font-family: "IosevkaNerdFont";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
}

button {
    box-shadow: none;
    background: none;
    border: none;
    border-radius: 1;
}

#workspaces button {
    padding: 0 0;
    border-bottom: 2px solid @base;
    background-color: @base;
    color: @text;
}

#workspaces button.visibile {
    color: @blue;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: none;
}

#workspaces button.active {
    color: @yellow;
    border-color: @yellow;
}

#workspaces button.urgent {
    background-color: @red;
}

#memory,
#cpu,
#disk {
    padding: 0 10px;
    margin: 5px 5px;
    color: @text;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

label:focus {
    background-color: @base;
}

#cpu {
    background-color: @red;
    color: @text;
    min-width: 45px;
}

#memory {
    background-color: @green;
    color: @text;
}

#disk {
    background-color: @blue;
    color: @text;
}

#wireplumber {
    background-color: @yellow;
    color: @text;
}

#wireplumber.muted {
    background-color: @red;
    color: @text;
}
